@media only screen and (max-width: 480px){
/* Smartphones */
    .post_body {
        width: 50%;
        padding: 20px 10px;
    }
    .post_title{
        font-size: 1.1em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media (min-width: 768px) {
/* Tablet and desctop*/
    .post_body {
        width: 25%;
    }
}